#stepsContainer,
#gallery,
#docs,
#projectInfo{
    display:grid;
    gap:20px;
}

.step{
    background:#1d1d1d;
    padding:15px;
    border-radius:10px;
    border-right:4px solid #d4af37;
}

.gallery-item img{
    width:100%;
    border-radius:10px;
}

.doc{
    background:#1d1d1d;
    padding:15px;
    border-radius:10px;
}

.about{
    background:#1b1b1b;
    padding:20px;
    border-radius:10px;
}

.qr{
    text-align:center;
}

.qr img{
    width:220px;
    background:#fff;
    padding:10px;
    border-radius:10px;
}

footer{
    margin-top:50px;
    padding:20px;
    text-align:center;
    background:#181818;
    color:#aaa;
}

@media(max-width:768px){

.hero h1{
    font-size:30px;
}

.hero{
    height:230px;
}

}
